{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - Checkout {% endblock %}

{% block page_content %}
<style>

div.checkout_form label{
	font-size: 15px;
	font-family: Volkorn-Regular;
	margin:10px;
	width:200px;
	display:block;
}

div.checkout_form input{
	border:2px solid #cccccc;
	font-family: Volkorn-Regular;
	color: #2b2b2b;
	font-size: 13px;
	height: 35px;
	padding: 0 7px;
	width:400px;

}

div.checkout_form textarea{
	border:2px solid #cccccc;
	font-family: Volkorn-Regular;
	color: #2b2b2b;
	font-size: 13px;
	height: 35px;
	padding: 0 7px;
	width:400px;
	height:90px;

}

div.checkout_form select{
	font-family: Volkorn-Regular;
	color: #2b2b2b;
	font-size: 13px;
	height: 35px;
	padding: 0 7px;

}

div.checkout_form h1{
	color:#ff7070;
}

div.checkout_form button{
	background-color: #FF7070;
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	height: 39px;
	text-align: center;
	width: 155px;
	margin: 15px 0 0 0;
	font-family: Volkorn-Italic;
	cursor: pointer;
	border: none;
}

div.checkout_form input[type="radio"]{
	height: auto;
	padding: 0px;
	border:0px;
	float:left;
	width:40px;
}

</style>



		<div id="header_shipping" style="height:1px;">

		</div>

		<div class="content_page content_basket">
			<div class="cart_title">My Cart</div>
    {% set subtotal = 0 %}
    {% if basketItems|length > 0 %}
			<table id="basket_table">
				<tr class="legend">
					<th class="item">item</th>
					<th class="description">description</th>
					<th class="delivery">estimated delivery</th>
					<th class="time">time remaining</th>
					<th class="price">price</th>
					<th class="delete"></th>
				</tr>
				<tr class="sepa">
					<td colspan="6">
						<div class="cart_separator"></div>
					</td>
				</tr>

	    {% for basketItem in basketItems %}
                    {% set subtotal = subtotal + basketItem.getProduct.getProductPrice %}
					<tr class="product" id="basket-item-{{ basketItem.getBasketItemid }}">
						<td><a href="{{ path('show_item', {'slug': basketItem.getProduct.getProductName|slugify}) }}-{{ basketItem.getProduct.getId }}" title="">
						{% if basketItem.getProduct.getProductVisual1Large == '' %}
							<img class="cart_pic" src="/{{ basketItem.getProduct.getProductVisual1 }}" />
						{% endif %}
						{% if basketItem.getProduct.getProductVisual1Large != '' %}
							<img class="cart_pic" src="/{{ basketItem.getProduct.getProductVisual1Large }}" />
						{% endif %}


						</a></td>
						<td>
							<div class="description_name">
								{{ basketItem.getProduct.getProductName }}
							</div>
							<div class="description_size">
								Size:
								{{basketItem.getProduct.getProductCategorySize.getProductCategorySizeValue}}
							</div>
						</td>
						<td>
							<div class="delivery">
								<xsl:value-of select="basket_item_delivery" />
							</div>
						</td>
						<td>
							<div class="time_remaining">
								<span>
									{{ basketItem.findBasketItemTimeRemaining }}
								</span>
								min.
							</div>
						</td>
						<td>
							<div class="price_final">
								$
								<span>
									{{ basketItem.getProduct.getProductPrice|number_format(2) }}
								</span>
							</div>
						</td>
						<td>
							<a href="{{ path('remove_item_from_basket', {'productId': basketItem.getProduct.getProductId}) }}" class="remove"></a>
						</td>
					</tr>
					<tr class="sepa">
						<td colspan="6">
							<div class="cart_separator"></div>
						</td>
					</tr>
	    {% endfor %}
			</table>
			<div id="order_subtotal">
				<div id="order_subtotal_title">order subtotal</div>
				<div id="order_subtotal_value">
					$
					<span>
						{{ subtotal|number_format(2) }}
					</span>
				</div>
			</div>
			<div class="clear"></div>

        <div id="basketCheckoutLink" class="checkout_form">
            <!-- This form is just a button now.  This is intended. -->
            {{ form_start(startOrder) }}
            {{ form_end(startOrder) }}
        </div>

			<div class="clear"></div>
		</div>
    {% else %}
        <div id="noBasketItems">No items in this basket</div>
    {% endif %}

{% endblock %}
