{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - Rare Finds Everyday{% endblock %}

{% block page_content %}


<div class="splash_header">
		Meet our collaborators
	</div>

	<div class="splash_subheader">
		Let us introduce you to our friends: vintage lovers and fashion icons with whom we've shared some Nifty Thrifty Love.
	</div>

	<div id="ending_soon_collections" class="current_container" style="height:auto;margin-bottom:40px;">

			<div class="current_cell" style="background:url('/images/images/nj1.jpg') top left no-repeat;">
				<a href="/shop/show_collection/natalie-joos-539" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="/shop/show_collection/natalie-joos-539">Natalie Joos</a>
					<p>Tales of Endearment</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_AnnieGeorgiaGreenberg.jpg') top left no-repeat;">
				<a href="http://twitter.com/anniegeorgia" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://twitter.com/anniegeorgia">Annie Georgia Greenberg</a>
					<p>NYC Refinery 29 Editor</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_DanielleBernstein.jpg') top left no-repeat;">
				<a href="http://weworewhat.com/" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://weworewhat.com/">Danielle Bernstein</a>
					<p>We Wore What Blog</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_CatMarnell.jpg') top left no-repeat;">
				<a href="http://twitter.com/Cat_Marnell" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://twitter.com/Cat_Marnell">Cat Marnell</a>
					<p>American Writer and Editor</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_HannahBronfman.jpg') top left no-repeat;">
				<a href="http://twitter.com/HannahBronfman" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://twitter.com/HannahBronfman">Hannah Bronfman</a>
					<p>American Actress, DJ, and Entrepreneur</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_CharlotteRonson.jpg') top left no-repeat;">
				<a href="http://charlotteronson.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://charlotteronson.com">Charlotte Ronson</a>
					<p>American Womenswear Designer</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_Lyz-Olko.jpg') top left no-repeat;">
				<a href="http://obesityandspeed.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://obesityandspeed.com">Lyz Olko</a>
					<p>Obesity & Speed</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_Americantwoshot.jpg') top left no-repeat;">
				<a href="http://americantwoshot.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://americantwoshot.com">American Two Shot</a>
					<p>SoHo Gallery/Shop</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_ChrissieMiller.jpg') top left no-repeat;">
				<a href="http://twitter.com/chrissiemiller" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://twitter.com/chrissiemiller">Chrissie Miller</a>
					<p>Socialite, Designer</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_JagLever.jpg') top left no-repeat;">
				<a href="http://jaglever.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://jaglever.com">Rachel-Marie Iwanyszyn</a>
					<p>Jag Lever</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_NadiaAboulhosn.jpg') top left no-repeat;">
				<a href="http://nadiaaboulhosn.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://nadiaaboulhosn.com">Nadia Aboulhosn</a>
					<p>Fashion Blogger & Model</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_LauraEllner.jpg') top left no-repeat;">
				<a href="http://ontheracks.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://ontheracks.com">Laura Ellner</a>
					<p>OnTheRacks</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_AlexandraRichards.jpg') top left no-repeat;">
				<a href="http://instagram.com/officialalexandrarichards" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://instagram.com/officialalexandrarichards">Alexandra Richards</a>
					<p>Model, Artist, and DJ</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_NicoleVitagliano.jpg') top left no-repeat;">
				<a href="http://nicolevitagliano.com" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://nicolevitagliano.com">Nicole Vitagliano</a>
					<p>Renowned Stylist</p>
				</div>
			</div>
			<div class="current_cell" style="background:url('/images/images/Collaborations_340x220_AshleySky.jpg') top left no-repeat;">
				<a href="http://twitter.com/TheAshleySky" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_sale" id="current_cell_bar">
					<a href="http://twitter.com/TheAshleySky">Ashley Sky</a>
					<p>Model</p>
				</div>
			</div>













		<div class="clear"></div>

	</div>
	
	




<!--
	<div class="splash_header">
		Welcome to the Shops
	</div>

	<div class="splash_subheader">
		Finding your favorite vintage item just got easier. Whether it's the perfect pair of cutoffs, or a killer LBD you're searching for,<br/>our expertly curated NT shops have hundreds of the most iconic vintage styles out there.
	</div>

	<div class="clear"></div>

	<div class="shop_left">
		<div class="shop_left_top">
			Shop our basic vintage staples
			<div class="clear"></div>
		</div>
            {% for category in categories %}
		<div class="shop_left_cell" style="text-transform:uppercase;">
			<a href="/shop/category/{{category.getId}}">{{category.getName}}</a>
			<div class="clear"></div>
		</div>
            {% endfor %}
	</div>
	
	<div class="shop_centerline">
	
	</div>
	<div class="shop_right">
    {% if collections|length > 0 %}
            {% for collection in collections %}
			<div class="current_cell" style="background:url('/{{collection.getCollectionVisualMainPanel}}') top left no-repeat;">
				<a href="{{ path('show_collection', {'slug': collection.getCollectionName|slugify}) }}-{{ collection.getId }}" title="{{collection.getCollectionName}}" class="top">
				</a>
				<div class="current_cell_bar current_cell_bar_shop">
					<a href="{{ path('show_collection', {'slug': collection.getCollectionName|slugify}) }}-{{ collection.getId }}" title="{{collection.getCollectionName}}">
					{{collection.getCollectionName}}
					</a>
				</div>
			</div>
            {% endfor %}
    {% endif %}
		<div class="clear"></div>
	
	</div>
-->

{% endblock %}