<html>
<body>
<div>
    <div style="padding-left: 10px;">
        <div><b>Category</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('product_category_admin') }}">Category</a></div>
            <div><a href="{{ url('product_category_size_admin') }}">Category Sizes</a></div>
        </div>

        <div><b>Designer</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('designer_admin') }}">Designer</a></div>
        </div>

        <div><b>Product</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('product_admin') }}">Product</a></div>
        </div>

        <div><b>Tags</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('product_tag_admin') }}">Product tags</a></div>
            <div><a href="{{ url('product_tagtype_admin') }}">Product tag types</a></div>
        </div>

        <div><b>Collections/Shops</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('collection_admin') }}">Collections</a></div>
        </div>

        <div><b>Newsletter</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('newsletter_admin') }}">Newsletter</a></div>
        </div>

        <div><b>Coupon</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('coupon_admin') }}">Coupon</a></div>
        </div>

        <div><b>Banners</b></div>
        <div style="padding-left: 20px;">
            <div><a href="{{ url('banner_admin') }}">Banners</a></div>
         <!--   <div><a href="{{ url('banner_type_admin') }}">Banner Types</a></div> -->
        </div>
    </div>
</div>

</body>
</html>
