<style>


</style>

<div id="filters" class="category_bar">
	<div class="filter filter_product_looks filter_single_value">
		<span class="select">Featured<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown">
			<div id="filters-looks-list" class="wrapper">
				<div class="option product_category product_category_350 {% if activeId == '350' %}selected{% endif %}">
					<span class="label">Fall Essentials</span>
					<span class="value display_none">350</span>
				</div>
				<div class="option product_category product_category_351 {% if activeId == '351' %}selected{% endif %}">
					<span class="label">Looks We Love</span>
					<span class="value display_none">351</span>
				</div>
				<div class="option product_category product_category_348 {% if activeId == '348' %}selected{% endif %}">
					<span class="label">Cashmere</span>
					<span class="value display_none">348</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_eras filter_single_value">
		<span class="select">Eras<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown">
			<div id="filters-eras-list" class="wrapper">
				<div class="option product_category product_category_304 {% if activeId == '304' %}selected{% endif %}">
					<span class="label">1950s, 60s & 70s</span>
					<span class="value display_none">304</span>
				</div>
				<div class="option product_category product_category_307 {% if activeId == '307' %}selected{% endif %}">
					<span class="label">1980s</span>
					<span class="value display_none">307</span>
				</div>
				<div class="option product_category product_category_308 {% if activeId == '308' %}selected{% endif %}">
					<span class="label">1990s</span>
					<span class="value display_none">308</span>
				</div>
				<div class="option product_category product_category_309 {% if activeId == '309' %}selected{% endif %}">
					<span class="label">2000s</span>
					<span class="value display_none">309</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_accessories filter_single_value">
		<span class="select">Accessories<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown">
			<div id="filters-accessories-list" class="wrapper">
				<div class="option product_category product_category_333 {% if activeId == '333' %}selected{% endif %}">
					<span class="label">Jewelry</span>
					<span class="value display_none">333</span>
				</div>
				<div class="option product_category product_category_344 {% if activeId == '344' %}selected{% endif %}">
					<span class="label">Belts</span>
					<span class="value display_none">344</span>
				</div>
				<div class="option product_category product_category_3 {% if activeId == '3' %}selected{% endif %}">
					<span class="label">Scarves</span>
					<span class="value display_none">3</span>
				</div>
				<div class="option product_category product_category_311 {% if activeId == '311' %}selected{% endif %}">
					<span class="label">Sunglasses</span>
					<span class="value display_none">311</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_categorybags filter_single_value">
		<div class="dropdown">
			<div id="filters-categorybags-list" class="wrapper">
				<div class="option product_category product_category_16 {% if activeId == '16' %}selected{% endif %}">
					<span class="select">Bags</span>
					<div class="category_bar_spacer"></div>
					<span class="label display_none">Bags</span>
					<span class="value display_none">16</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_category filter_single_value">
		<span class="select">Clothing<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown">
			<div id="filters-category-list" class="wrapper">
				<div class="option product_category product_category_8 {% if activeId == '8' %}selected{% endif %}">
					<span class="label">Outerwear</span>
					<span class="value display_none">8</span>
				</div>
				<div class="option product_category product_category_9 {% if activeId == '9' %}selected{% endif %}">
					<span class="label">Jackets & Blazers</span>
					<span class="value display_none">9</span>
				</div>
				<div class="option product_category product_category_14 {% if activeId == '14' %}selected{% endif %}">
					<span class="label">Sweaters & Cardigans</span>
					<span class="value display_none">14</span>
				</div>
				<div class="option product_category product_category_4 {% if activeId == '4' %}selected{% endif %}">
					<span class="label">Tops & Blouses</span>
					<span class="value display_none">4</span>
				</div>
				<div class="option product_category product_category_7 {% if activeId == '7' %}selected{% endif %}">
					<span class="label">Dresses</span>
					<span class="value display_none">7</span>
				</div>
				<div class="option product_category product_category_5 {% if activeId == '5' %}selected{% endif %}">
					<span class="label">Skirts</span>
					<span class="value display_none">5</span>
				</div>
				<div class="option product_category product_category_13 {% if activeId == '13' %}selected{% endif %}">
					<span class="label">Pants & Denim</span>
					<span class="value display_none">13</span>
				</div>
				<div class="option product_category product_category_15 {% if activeId == '15' %}selected{% endif %}">
					<span class="label">Shorts</span>
					<span class="value display_none">15</span>
				</div>
				<div class="option product_category product_category_349 {% if activeId == '349' %}selected{% endif %}">
					<span class="label">Overalls</span>
					<span class="value display_none">349</span>
				</div>
				<div class="option product_category product_category_348 {% if activeId == '348' %}selected{% endif %}">
					<span class="label">Cashmere</span>
					<span class="value display_none">348</span>
				</div>
				<div class="option product_category product_category_6 {% if activeId == '6' %}selected{% endif %}">
					<span class="label">Rompers & Jumpsuits</span>
					<span class="value display_none">6</span>
				</div>
				<div class="option product_category product_category_321 {% if activeId == '321' %}selected{% endif %}">
					<span class="label">T Shirts</span>
					<span class="value display_none">321</span>
				</div>
				
				{% for category in categories %}
				<!--
				<div class="option product_category product_category_{{category.productCategoryId}}">
					<span class="label">{{category.productCategoryName}}</span>
					<span class="value display_none">{{category.productCategoryId}}</span>
				</div>
				-->
				{% endfor %}
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_categoryboots filter_single_value">
		<div class="dropdown">
			<div id="filters-categoryboots-list" class="wrapper">
				<div class="option product_category product_category_11 {% if activeId == '11' %}selected{% endif %}">
					<span class="select">Boots & Shoes</span>
					<div class="category_bar_spacer"></div>
					<span class="label display_none">Boots & Shoes</span>
					<span class="value display_none">11</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_categoryhome filter_single_value">
		<div class="dropdown">
			<div id="filters-categoryhome-list" class="wrapper">
				<div class="option product_category product_category_17 {% if activeId == '17' %}selected{% endif %}">
					<span class="select">Home</span>
					<div class="category_bar_spacer"></div>
					<span class="label display_none">Home</span>
					<span class="value display_none">17</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_size">
		<span class="select">Sizes<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown sizeboxes">
			<div class="wrapper">
				<div id="filters-category-sizes-list" class="container">
					{% for category in categories %}
						<div class="product_category filter_single_value" id="sizes_container" style="display:none;">
							<span class="optionGroup_title">{{category.productCategoryName}}</span>
							<div class="optionGroup product_category_{{category.productCategoryId}}">
									 {% for size in sizes[category.productCategoryId] %}
									<div class="option product_category_size product_category_size_{{size.productCategorySizeId}} sizebox" style="width:45px;padding-top:7px;text-align:center;height:18px;margin:6px;float:left;display:block;border:1px #cccccc solid;">
										<span class="label">{{size.productCategorySizeValue}}</span>
										<span class="value display_none">{{size.productCategorySizeId}}</span>
									</div>
									{% endfor %}
								<div class="clear"></div>
							</div>
						</div>
					{% endfor %}
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="filter filter_product_colors filter_single_value">
		<span class="select">Colors<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown colorboxes">
			<div class="option colorbox" style="background-color:#000000;">
				<span class="label display_none">Black</span>
				<span class="value display_none">212</span>
			</div>
			<div class="option colorbox" style="background-color:#858788;">
				<span class="label display_none">Grey</span>
				<span class="value display_none">211</span>
			</div>
			<div class="option colorbox" style="background-color:#9150ad;">
				<span class="label display_none">Purple</span>
				<span class="value display_none">207</span>
			</div>
			<div class="option colorbox" style="background-color:#003774;">
				<span class="label display_none">Blue</span>
				<span class="value display_none">205</span>
			</div>
			<div class="option colorbox" style="background-color:#ca2632;">
				<span class="label display_none">Red</span>
				<span class="value display_none">201</span>
			</div>

			<div class="option colorbox" style="background-color:#ff9bb6;">
				<span class="label display_none">Pink</span>
				<span class="value display_none">209</span>
			</div>
			<div class="option colorbox" style="background-color:#008c1e;">
				<span class="label display_none">Green</span>
				<span class="value display_none">204</span>
			</div>
			<div class="option colorbox" style="background-color:#f6c100;">
				<span class="label display_none">Yellow</span>
				<span class="value display_none">203</span>
			</div>
			<div class="option colorbox" style="background-color:#dda200;">
				<span class="label display_none">Gold</span>
				<span class="value display_none">325</span>
			</div>
			<div class="option colorbox" style="background-color:#f38e00;">
				<span class="label display_none">Orange</span>
				<span class="value display_none">202</span>
			</div>

			<div class="option colorbox" style="background-color:#5b413c;">
				<span class="label display_none">Brown</span>
				<span class="value display_none">213</span>
			</div>
			<div class="option colorbox" style="background-color:#f9e9b4;">
				<span class="label display_none">Cream</span>
				<span class="value display_none">317</span>
			</div>
			<div class="option colorbox" style="background-color:#ccced0;">
				<span class="label display_none">Silver</span>
				<span class="value display_none">334</span>
			</div>
			<div class="option colorbox" style="background-color:#ffffff;width:24px;height:24px;border:1px solid #c0c0c0;">
				<span class="label display_none">White</span>
				<span class="value display_none">210</span>
			</div>

			<div class="option colorbox" id="">
				<img src="/images/images/color_swatch_multi.png">
				<span class="label display_none">Multicolored</span>
				<span class="value display_none">318</span>
			</div>
			
		</div>
	</div>
	<div class="clear"></div>




















	<div class="filter filter_sort filter_single_value">
		<span class="select">Sort by<span class="nb_selected"></span></span>
		<div class="category_bar_spacer"></div>
		<div class="dropdown">
			<div class="wrapper">
				<div class="option">
					<span class="label">Prices (Hi to Lo)</span>
					<span class="value display_none">product_price_hi</span>
				</div>
				<div class="option">
					<span class="label">Prices (Lo to Hi)</span>
					<span class="value display_none">product_price_lo</span>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
